.wrapper {
    width: 1240px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
}

.form {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
}

.error {
    color: #FF0000;
}