.wrapper {
    width: 1240px;
    margin: 0 auto;
}

.container {
    display: flex;
}

.orders {
    height: 800px;
    min-width: 500px;
    max-width: 600px;
    box-sizing: border-box;
    overflow-y: auto;
    padding-right: 8px;
}

.stats {
    margin-left: 60px;
}