.menu {
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu_item {
    height: 64px;
}

.menu_item p {
    color: #8585ad;
}

.description {
    opacity: 40%;
}

.btn_logout {
    background: none;
    border: none;
    cursor: pointer;
}

.btn_logout:hover {
    color: #ffffff;
}

.active p, .active:hover p {
    color: #ffffff;
}
