.card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    background: #1C1C21;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 0px 2px rgba(0, 0, 0, 0.06), 0px 0px 1px rgba(0, 0, 0, 0.04);
    border-radius: 40px;
}

.top_details {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.date {
    display: flex;
    align-items: center;
    color: #8585AD;
}

.heading {
    margin-top: 24px;
}

.status {
    margin-top: 8px;
}

.bottom_details {
    margin-top: 24px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ingredients {
    display: flex;
}

.badge {
    margin-right: -18px;
    width: 64px;
    height: 64px;
    background: #131316;
    border-radius: 64px;
    border: 2px solid #801AB2;
    object-fit: cover;
}

.more {
    width: 64px;
    height: 64px;
    position: relative;
}

.more > p {
    color: #F2F2F3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.more > img {
    opacity: 0.6;
}

.price {
    display: flex;
    flex-direction: row;
    align-items: center;
}