.total {
    display: flex;
    align-items: center;
}
.messages {
    text-align: end;
}

.order_info {
    margin-top: 40px;
    display: flex;
    justify-content: flex-end;
}

.submit {
    margin-left: 40px;
}