.list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.outerList {
    margin-top: 100px;
}

.bun {
    padding: 0 16px;
}

.staffing {
    padding: 0 8px 0 16px;
}

.ingredients_container {
    overflow-y: auto;
    box-sizing: border-box;
    max-height: 464px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}