.wrapper {
    width: 1240px;
    margin: 0 auto;
    margin-top: 40px;
    display: flex;
}

.orders {
    box-sizing: border-box;
    overflow-y: auto;
    padding-right: 8px;
    max-width: 860px;
    max-height: 868px;
}